*
{
	margin:	0;
	padding: 0;
	font-size: 10px;
}

body
{
	display:							grid;
	grid-gap:							1rem;
	grid-template-areas: 				"block_1 block_2 block_3"
										"block_4 block_5 block_6"
										"block_7 block_8 block_9";
	
	
	height:								100vh;
	padding:							1rem;

		
	
}


.a_block
{
	display:							flex;
	justify-content: 					center;
	align-items: 						center;
	
}


#BL1
{
	grid-area:							block_1;
	
	grid-column:						span 3;
	
	
	background-color:						red;
}

#BL2
{
	
	grid-area: 								block_2;
	
	background-color:						yellow;
	
	
}

#BL3
{
	grid-area: 								block_3;
	
	background-color:						blue;
}


#BL4
{
	grid-area:								block_4;
	
	background-color:						pink;
}


#BL5
{
	grid-area:								block_5;
	
	background-color:						orange;
}


#BL6
{
	grid-area:								block_6;
	
	background-color:						purple;
}

#BL7
{
	grid_area:								block_7;
	
	
	
	background-color:						green;
}

#BL8
{
	grid-area: 								block_8;
	
	background-color:						black;
	color: 									white;
}


#BL9
{
	grid-area:								block_9;
	
	background-color:						gray;
	
}

p
{
	font-family:							impact;
	font-size: 								5rem;
}








@media (min-width: 400px)
{
	body
	{
		grid-template-columns: 				repeat(3, 1fr);
		grid-template-rows:					repeat(3, 1fr);
		grid-template-areas: 				"block_1 block_2 block_3 block_4"
											"block_5 block_6 block_7 block_8"
											"block_9";
					
	}
	
	
	#block_1
	{
		
	}
	
	#block_2
	{
		
	}
	
	
	#block_3
	{
		
	}
	
	
	#block_4
	{
		
	}
	
	
	#block_5
	{
		
	}
	
	
	#block_6
	{
		
	}
	
	#block_7
	{
		
	}
	
	#block_8
	{
		
	}
	
	#block_9
	{
		
	}
	
	
}




