*
{
	margin:	0;
	padding: 0;
	font-size: 10px;
}


body
{
	display:	grid;
	grid-template-areas: 	"item_1"
							"button_1"
							"item_2"
							"item_3";
	
	grid-template-rows: 	repeat(3, 33.33vh);
	
}

#button_1
{
	grid-area:		button_1;
	height:			10vh;
}

#item_1
{
	background-color:	blue;
	grid-area:	item_1;
}


#item_2
{
	background-color:	red;
	grid-area: 	item_2;
}


#item_3
{
	background-color:	yellow;
	grid-area:	item_3;
}