*
{
	margin:	0;
	padding: 0;
	font-size: 10px;
}

#WRA01
{
	display:							grid;
	grid-template-columns: 				repeat(3, 1fr);
	/*grid-template-areas: 				BX01;*/
	
	
}

.BOX
{
	display:							flex;
	justify-content: 					center;
	align-items: 						center;
	
	padding:							1rem;
	border:								2px solid black;
	
	font-family:						impact;
	font-size:							5rem;
}

#BX01
{
	/*grid-area: 							BX01;*/
}

#BX02
{
	/*grid-area: 							BX02;*/
}

#BX03
{
	grid-area:							BX03;
}

#BX04
{
	grid-area:							BX04
	
}

